@import "tailwindcss";

/* Custom scrollbar biar kaya Discord */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1f22;
}

::-webkit-scrollbar-thumb {
  background: #2b2d31;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #404249;
}